* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 50px 0;
}

.logo {
  display: inline-flex;
}

li {
  list-style: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-link {
  color: #bf7506;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

.nav-link.active {
  font-weight: 700;
}

.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 40px;
}

.header-photo {
  width: 212px;
}

.header-text {
  margin-left: 27px;
}

.header-strong {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #211b12;
}

.header-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  margin-top: 8px;
  margin-bottom: 24px;
}

.header-primary {
  color: #bf7506;
}

.header-links {
  display: flex;
  align-items: center;
}

.social-list {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 55px;
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.cv-download {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  border-bottom: 2px solid #bf7506;
  background-color: #ffffff;
}

.cv-icon {
  margin-right: 4px;
}

.section-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #bf7506;
  margin: 32px 0;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card {
  max-width: 400px;
  margin-bottom: 40px;
}

.card-text-wrapper {
  margin: 16px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #bf7506;
  margin-bottom: 8px;
}

.tags {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}

.tag {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #211b12;
  border: 1px solid #bf7506;
  border-radius: 4px;
  padding: 4px 8px;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  margin-bottom: 17px;
}

.card-buttons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.card-button {
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 2px solid #bf7506;
  padding: 6px 8px;
}

.card-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
}

.developer {
  margin-top: 80px;
}

.developer-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 56px;
  margin-bottom: 40px;
}

.developer-photo {
  width: 360px;
  height: 440px;
  border-radius: 20px;
  flex-shrink: 0;
  object-fit: cover;
}

.developer-about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.developer-hello {
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #211b12;
  margin-bottom: 4px;
}

.developer-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #bf7506;
  margin-bottom: 16px;
}

.developer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
}

.motto {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #dd9c3c;
  margin: 16px 0;
}

.developer-sign {
  max-width: 200px;
  flex-shrink: 0;
  object-fit: cover;
}

.skills {
  margin-bottom: 40px;
}

.skills-title {
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #211b12;
}

.feedback {
  padding: 80px 0 160px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.feedback-title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #211b12;
}

.input-group {
  position: relative;
  margin-bottom: 24px;
}

.input-label {
  position: absolute;
  top: -9px;
  left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 0 8px;
  color: #83807c;
  background-color: #ffffff;
}

.input {
  border: 3px solid #e0dedc;
  border-radius: 4px;
  width: 435px;
  height: 56px;
}

.textarea {
  min-height: 140px;
}

.form-container {
  max-width: 435px;
  margin: auto;
}

