* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 50px 0;
}

.logo {
  display: inline-flex;
}

li {
  list-style: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-link {
  color: #bf7506;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

.nav-link.active {
  font-weight: 700;
}

.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 40px;
}

.header-photo {
  width: 212px;
}

.header-text {
  margin-left: 27px;
}

.header-strong {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #211b12;
}

.header-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  margin-top: 8px;
  margin-bottom: 24px;
}

.header-primary {
  color: #bf7506;
}

.header-links {
  display: flex;
  align-items: center;
}

.social-list {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 55px;
}

.social-link {
  display: inline-flex;
  padding: 8px;
}

.cv-download {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  border-bottom: 2px solid #bf7506;
}

.cv-icon {
  margin-right: 4px;
}

.section-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #bf7506;
  margin: 32px 0;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card {
  max-width: 400px;
  margin-bottom: 40px;
}

.card-text-wrapper {
  margin: 16px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #bf7506;
  margin-bottom: 8px;
  
}

.tags {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}

.tag {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #211b12;
  border: 1px solid #bf7506;
  border-radius: 4px;
  padding: 4px 8px;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  margin-bottom: 17px;
}

.card-buttons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.card-button {
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 2px solid #bf7506;
  padding: 6px 8px;
}

.card-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
}
